body {
    background-color: #f8f9fa;
}
.card-grid {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;  
    height: 100%;
    max-height: 100%;  
    background-color: #fff;
}

.card-body {
    flex-grow: 1;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;  
}


.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}


.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.card-footer .btn {
    flex: 0 1 auto;  
}

.card-footer .platform {
    flex: 0 1 auto;  
    text-align: right; 
}


.card-grid .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;  
    margin-left: -10px;  
}

.card-grid .col-lg-3,
.card-grid .col-md-3,
.card-grid .col-sm-6 {
    display: flex;
    flex-direction: column;  
    align-items: stretch;  
    padding-right: 10px;  
    padding-left: 10px;  
}

.card-grid .row {
    margin-bottom: 20px;
}

.nav-link.active.genre {
    font-size: 1.2rem;
    font-weight: bold;  
    color: white !important;  
    border-bottom: 2px solid white;  
}

.modal-dialog {
    max-width: 80% !important;  
}
